@tailwind base;
@tailwind components;
@tailwind utilities;

section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info{
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 8px;
}

.block{
    border: 1px solid #0a0a0a ;
    border-radius: 30%;
    
}

.fill{
    background-color: #fdfdfc;
}

.food{
    background-color: #ff3b3b;
    border-radius: 50%;
    
}

.modal{
    backdrop-filter: blur(4px);
}

.btn{
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fdfdfc;
    color: #333;
}

.btn:hover{
    transform: scale(1.1);
}

.head{
    border-radius: 50%;
    background-color: #fdfdfc;
}


h3{
    font-size: 24px;
}

#high-score,
#score,
#time{
    font-size: 18px;
    display: block;
    text-align: center;
}